{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% if object.phone %}
        <p>Home Phone: {{ object.phone }}</p>
      {% endif %}
      {% if object.cell %}
        <p>Mobile Phone: {{ object.cell }}</p>
      {% endif %}
      {% if object.gmail %}
        <p>GMail Address: {{ object.gmail }}</p>
      {% endif %}
      {% if object.bio %}
        <p>{{ object.bio }}</p>
      {% endif %}
      {% if object.city %}
        <p>Preferred City for meetings: {{ object.city }}</p>
      {% endif %}
      {% if object.sponsor %}
        <p>User is a leader according to {{ object.sponsor.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

