{% extends "base.html" %}
{% load static %}

{% block title %}style: {{ object.title }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.title }}</h2>
      {% if object.description %}
        <p>{{ object.description }}</p>
      {% endif %}
      {% if object.wikipedia %}
        <a href="{{object.wikipedia}}" target="_blank" rel="noopener noreferrer">Reference Page</a>
      {% endif %}
      {% if object.owner %}
        <p>Owner: {{ object.owner.name }}</p>
      {% endif %}
    </div>
  </div>
</div>
<!-- End Action buttons -->

{% endblock content %}


